@import "~bootstrap/scss/bootstrap.scss";
.bar{
    background-color:black ;
    width: 20px;
    height: 150px;
    display: flex;
    margin: auto;

}
.traffic-light{
background-color: black;
padding: 20px;
margin: auto;
width: 200px;
height: 550px;
border-radius: 20px;

}
.light{
width: 10px;
    border-radius: 5100%;
    height: 100px;
    margin: 3px;
    
}
 .red{
    background-color: red;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 15px;
}
 

 .yellow{
    background-color: yellow;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 15px;

 }

 .green
 {
    background-color: green;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: auto;     
 }

 .glow{

box-shadow: 0px 0px 15px 10px #b6e2e2;
 }